@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Smooch Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Noto Kufi Arabic', sans-serif; */
:root{
    --yellow: #fec200;
    --black: #0e1213;
    --white: #ffffff;
    --dark: #9a9a9a;
    --text: #f1f1f1;
    --smooch: 'Smooch Sans', sans-serif;
    --noto: 'Noto Kufi Arabic', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--noto);
    list-style: none;
    outline: none;
    user-select: none;
}
body{
    background: var(--white);
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background: var(--yellow);
}
::-webkit-scrollbar-track{
    background: transparent;
}
.container{
    width: 95%;
    margin: 0 auto;
}
.header-h2{
    outline: none;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    position: relative;
    font-family: var(--noto);
}
.header-h2::after{
    content: '';
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--yellow);
    width: 50px;
    height: 5px;
}
/* START HEADER  */
.header{
    background: var(--white);
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    z-index: 999;
}
.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header nav .logo {
    position: relative;
}
.header nav .logo .decs{
    position: absolute;
    top: 50px;
    width: 200px;
    line-height: 0;
    font-size: 0.8rem;
}
.header nav h2 a{
    font-size: 2.5rem;
    font-family: var(--smooch);
    text-transform: uppercase;
    color: var(--yellow);
    line-height: 60px;
    text-decoration: none;
    transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    outline: none;
}
.header nav h2 a span{
    color: var(--black);
    font-family: var(--smooch);
    font-size: 2.8rem;
    transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
.header nav h2 a:hover{
    color: var(--black);
}
.header nav h2 a:hover span{
    color: var(--yellow);
}
.header nav ul li{
    display: inline-block;
}
.header nav ul li a{
    margin: 0 5px;
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;
    font-weight: 600;
    padding: 8px 0;
    transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}
.header nav ul li a:hover{
    border-bottom: 3px solid var(--yellow);
    color: var(--yellow);
}
.header nav ul li a.active{
    border-bottom: 3px solid var(--yellow);
    color: var(--yellow);
}
@media only screen and (max-width: 1000px){
    .header nav .links .icon{
        width: 30px;
        display: flex;
        justify-content: end;
        flex-wrap: wrap;
        cursor: pointer;
    }
    .header .links .icon span{
        width: 100%;
        background: var(--black);
        height: 2px;
        margin-bottom: 5px;
        transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
    }
    .header .links .icon span:nth-child(2){
        width: 50%;
    }
    .header .links:hover span:nth-child(2){
        width: 100%;
    }
    .header .links:hover .icon span{
        background: var(--yellow);
    }
    .header nav ul{
        background: #f6f6f6;
        position: absolute;
        width: 100%;
        margin: 0 auto;
        left: 0;
        top: 60px;
        height: 0;
        z-index: 999;
        overflow: hidden;
        transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
    }
    .header nav .links:hover ul{
        height: 50vh;
        width: 100%;
        overflow: visible;
    }
    .header nav ul li{
        display: block;
    }
    .header nav ul li a{
        text-align: end;
        display: block;
        padding: 8px 40px;
    }
    .header nav ul li a:hover,
    .header nav ul li a:focus{
        border-bottom: none;
        color: var(--yellow);
    }
    .header nav ul li a.active{
        border-bottom: none;
        color: var(--yellow);
    }
}
/* END HEADER  */
/* START SLIDER  */
.slider{
    height: 400px;
    width: 100%;
    position: relative;
}
.slider .swiper {
    width: 100%;
    height: 100%;
    position: relative;
}
.slider .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .swiper-button-next,
.slider .swiper-button-prev{
    color: var(--yellow);
}
.slider .swiper-slide .div-text{
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    width: 300px;
    min-height: 100px;
    max-height: 200px;
    overflow: hidden;
    border-radius: 5px;
    color: #fff;
    padding: 20px 20px;
}
.slider .swiper-slide .div-text h2{
    font-size: 1.8rem;
}
.slider .swiper-slide .div-text p{
    color: var(--text);
    font-size: 1rem;
}
@media only screen and (max-width: 1000px){
    .slider{
        height: 200px;
    }
    .slider .swiper-slide .div-text{
        width: 220px;
        min-height: 100px;
        max-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slider .swiper-slide .div-text h2{
        font-size: 1.3rem;
    }
    .slider .swiper-slide .div-text p{
        display: none;
    }
}
/* END SLIDER  */
/* START MARQUEE */
marquee{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--white);
    background: var(--yellow);
    font-size: 1.4rem;
}
@media only screen and (max-width: 1000px){
    marquee{
        font-size: 1.2rem;
    }
}
/* END MARQUEE */
/* START SERVICES */
.services{
    color: #000;
    margin-bottom: 60px;
    margin-top: 40px;
    text-align: center;
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.5rem;
}
.services .feat{
    width: 100%;
    margin: 10px 0;
}
.services .feat img{
    width: 120px;
    height: 100px;
}
.services .feat h3{
    font-size: 1.4rem;
    color: var(--black);
    font-weight: 600;
}
.services .feat p{
    font-size: 0.9rem;
    color: var(--dark);
}
/* END SERVICES */
/* START SOCIAL MEDIA  */
.latest-business{
    margin: 40px 0;
}
.latest-business .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}
.latest-business .feat{
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 1rem var(--black);
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 30px 0;
}
.latest-business .feat .box-img{
    width: 100%;
    height: 180px;
    overflow: hidden;
}
.latest-business .feat .box-img img{
    width: 100%;
    height: 180px;
    transition: all 0.4s;
}
.latest-business .feat:hover img{
    transform: scale(1.1);
}
.latest-business .feat .box-text{
    text-align: end;
    padding: 0 10px;
}
.latest-business .feat .box-text h4{
    font-size: 1.1rem;
}
.latest-business .feat .box-text p{
    font-size: 0.9rem;
    color: var(--dark)
}
/* END latest-business  */
/* START brief */
.brief{
    background: #f1f1f1;
    text-align: center;
    padding: 40px 0;
}
.brief p{
    width: 50%;
    margin: 20px auto;
    font-size: 1rem;
}
.brief a{
    background: rgb(118,182,42);
    padding: 8px 30px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.brief a svg{
    width: 20px;
    height: 20px;
    margin: 0 10px;
}
.brief a:hover{
    opacity: 0.8;
}
@media only screen and (max-width: 1000px){
    .brief p{
        width: 90%;
    }
}
/* END brief */
/* START counting */
.counting{
    background: url('../img/slider/kobruseva.jpg');
    background-size: cover;
    background-position: center;
    z-index: 99;
    color: #fff;
    text-align: center;
    min-height: 300px;
    position: relative;
}
.counting::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.75);
    z-index: -1;
}
.counting .text{
    margin: 20px 0;
}
.counting .box-count{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    margin: 20px 0;
}
.counting .box-count .card{
    width: 100%;
    margin: 10px 0;
}
.counting .box-count .card h4{
    font-size: 1rem;
    position: relative;
    margin-bottom: 10px;
}
.counting .box-count .card h4::after{
    content: '';
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--yellow);
    width: 10%;
    height: 2px;
}
.counting .box-count .card span{
    font-size: 1rem;
    font-weight: bold;
}
.counting .box-count .card p{
    font-size: 1rem;
}
/* END counting */
/* START client */
.client .container{
    width: 100%;
    display: flex;
    align-items: center;
    height: 300px;
}
.client .swiper {
    width: 100%;
    height: 100%;
  }
.client .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.client .swiper-slide img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.client .swiper-slide h3{
    font-size: 1.2rem;
}
.client .swiper-button-next,
.client .swiper-button-prev{
    color: var(--yellow);
}
.client .swiper-slide > div{
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 1000px){
    .client .swiper-slide img{
        width: 70px;
        height: 70px;
    }
    .client .swiper-slide h3{
        font-size: 1rem;
    }
}
/* END client */
/* START idea */
.idea{
    background: var(--yellow);
    padding: 20px 0;
    text-align: center;
    color: #fff;
}
.idea p{
    font-size: 1.5rem;
}
.idea a{
    background: rgb(118,182,42);
    padding: 8px 30px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.idea a svg{
    width: 20px;
    height: 20px;
    margin: 0 10px;
}
.idea a:hover{
    opacity: 0.8;
}
@media only screen and (max-width: 1000px){
    .idea p{
        font-size: 1rem;
    }
}
/* END idea */
/* START FOOTER  */
.footer{
    background: var(--black);
    color: #fff;
    text-align: center;
    padding: 20px;
}
@media only screen and (max-width: 600px){
    .footer{
        font-size: 0.9rem;
    }
}
/* END FOOTER  */
/* start online */
.online{
    position: absolute;
    background: rgba(0,0,0,0.6);
    color: #fff;
    top: 60px;
    right: 0px;
    padding: 0 10px;
    z-index: 998;
    font-size: 0.7rem;
    border-radius: 2px 0 0 2px;
}
/* end online */
/* START BUTTON TO TOP  */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 10px; /* Place the button at the bottom of the page */
    right: 5px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--black); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
     padding: 6px 12px; /* Some padding */
    font-size: 1rem; /* Increase font size */
    transition: all 0.3 ease;
    -o-transition: all 0.3 ease;
    -moz-transition: all 0.3 ease;
    -webkit-transition: all 0.3 ease;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#myBtn img,svg{
    width: 20px;
    height: 20px;
    fill: #fff;
}
#myBtn:hover {
    background-color: var(--yellow); /* Add a dark-grey background on hover */
}
@media only screen and (max-width: 600px){
    #myBtn img,svg{
        width: 15px;
        height: 15px;
    }
}
/* END BUTTON TO TOP  */
/* START sochil */
.sochil{
    position: fixed;
    background: transparent;
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 998;
    width: 30px;
    text-align: center;
}
.sochil a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    width: 100%;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    color: #fff;
    width: 30px;
    position: relative;
}
.sochil a svg{
    width: 70%;
    height: 50%;
}
.sochil a span{
    position: absolute;
    left: 30px;
    height: 100%;
    width: 0px;
    overflow: hidden;
    transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}
.sochil a:hover span{
    width: 90px;
}

.sochil a:nth-child(1),
.sochil a:nth-child(1) span{
    background: #3b5998;
}
.sochil a:nth-child(2),
.sochil a:nth-child(2) span{
    background: #E1306C;
}
.sochil a:nth-child(3),
.sochil a:nth-child(3) span{
    background: #0e76a8;
}
.sochil a:nth-child(4),
.sochil a:nth-child(4) span{
    background: #25D366;
}
.sochil a:nth-child(5),
.sochil a:nth-child(5) span{
    background: #00acee;
}
@media only screen and (max-width: 600px){
    .sochil{
        display: none;
    }
}
/* END sochil */
